.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 48px 64px;
}

.topSection {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.imageGallery {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

.description {
    color: #475467;
}

.tabHeader {
    display: flex;
    gap: 40px;
}

.tab {
    padding-bottom: 24px;
    cursor: pointer;
}

.activeTab {
    border-bottom: 5px solid #e44848;
}

.contentSection {
    display: flex;
    gap: 40px;
}

.detailsBox,
.commentsBox {
    padding: 44px 52px;
    background-color: #f7f7f7;
    width: 631px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.featureList {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.vehicleInfo {
    color: #101828;
    font-size: 1.25rem;
    font-weight: 600;
}

.divider {
    border-bottom: 1px solid #dadde1;
    margin: 24px 0;
}

.commentsList {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.bookingCard {
    border: 1px solid #dadde1;
    width: 641px;
    border-radius: 12px;
    padding: 44px 57px;
}

.bookingWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bookingTitle {
    color: #101828;
    font-weight: 600;
    font-size: 1.25rem;
}

.bookingText {
    color: #475467;
}